@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+Hebrew:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
/* font-family: 'Noto Sans Hebrew', sans-serif; */
font-family: 'Noto Sans Hebrew', sans-serif;
}
.alfa{
  font-family: 'Alfa Slab One','Noto Sans Hebrew',  sans-serif;
}
.noto{
font-family: 'Noto Sans Hebrew', sans-serif;
}

@media (max-width: 768px) {
  
  .bbotom{bottom: 89.2%;}
  .slot-container .front-spin{
    bottom: 1.3%;
  }
  
}
@media (min-width: 768px) {
  
  .bbotom{bottom: 91.2%;}
 
  
}
.golda{
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */

                /* ///// */
                background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.slot-shadow{
  /* border: 1px solid;
  box-shadow:  10px 5px 4px  pink inset; */
}

.front-spin{
  transition-duration: 2000ms;
  transition-timing-function: ease-out;
  bottom: 1.6%;
}
.slot-wrapper:nth-child(2){
    width: 500px;
}
/* .slot-wrapper:nth-child(3){
    width: 70px;
} */
/* .slot-wrapper:nth-child(2){
    width: 70px;
} */


.slot {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 80px;
}

.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.roll {
  width: 215px;
  cursor: pointer;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid black;
}

.slot-macihne-text{
  text-shadow: 0 0 black;
}