@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+Hebrew:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Alfa Slab One','Noto Sans Hebrew', cursive;
/* font-family: 'Noto Sans Hebrew', sans-serif; */
}

.anima-container{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(.91,.9,.76,1.21);
  transition-duration: 1400ms;
  
  
}

.inplace{
  transform:translateY(22px)
}
.bbotom{
  bottom: 98.5%;
}
@media (min-width: 768px) {
  
  .bbotom{bottom: 98%;}
  
}
/* @media (min-width: 414px) {
  
  .bbotom{bottom: 98%;}
  
} */
.front-spin{
  /* transition-delay: 1000ms; */
  
  transition-duration: 2000ms;
  transition-timing-function: ease-out;
  bottom: 0.06%;
  /* transition-duration: 3000ms; */
}
/* .front-spin:nth-of-type(2){
  transition-duration: 100ms;
} */
.back-spin{
  animation: spinback 0s ;
}
@keyframes spin {
  /* 0%   {bottom:98%;}
  100%  {bottom:50%;} */
  /* 100% {transform:translateY(22px);} */
}
/* @keyframes spin-down {
  0%   {transform:translateY(22px);}
  100%  {transform:translateY(94%);}
}
@keyframes spinback {
  0%  {transform:translateY(94%);}
  100%   {transform:translateY(0%);}
} */


/* ////////////////////////////////// */
.App {
  font-family: sans-serif;
  text-align: center;
}

.slot {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 80px;
}
.move-down{
  /* top: 0px!important; */
  transform: translateY(100%);
}

section {
  position: absolute;
  border-radius: 15px !important;
  border: 3px solid black !important;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
}

.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.roll {
  width: 215px;
  cursor: pointer;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid black;
}

#img-round{
  display: none 
}
/* .img-wrap > span{
position: relative !important;
width: 100px;
height: 100px;
} */


/* //////////////////////////////////////////////// */


