@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+Hebrew:wght@100;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
/* font-family: 'Noto Sans Hebrew', sans-serif; */
font-family: 'Noto Sans Hebrew', sans-serif;
}
.alfa{
  font-family: 'Alfa Slab One','Noto Sans Hebrew',  sans-serif;
}
.noto{
font-family: 'Noto Sans Hebrew', sans-serif;
}

.slot-container .front-spin{
  bottom: 115px;
}
@media (max-width: 768px) {
  
  .bbotom{bottom: 89.2%;}
  
  
}
@media (min-width: 768px) {
  
  .bbotom{bottom: 91.2%;}
  .small-mobile-height{
    max-width: 476px;
    height: 205px;
  }
 
  
}
@media (max-width: 320px) {
  
  .small-mobile{
    max-width: 288px;
    
  }
  .small-mobile-height{
    height: 100px;
    width: 180px;
   
  }
  #slot-trigger{
    height: 69px;
  }
 
  
}
.golda{
  background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}


.slot-shadow{
  /* border: 1px solid;
  box-shadow:  10px 5px 4px  pink inset; */
}

.front-spin{
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.01, 0.14, 0.1, 1.15);
}





.slot {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 80px;
}

.container {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.roll {
  width: 215px;
  cursor: pointer;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid black;
}

.slot-macihne-text{
  text-shadow: 0 0 black;
}